body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.link{
    color: #B09A81;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}